Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

cleanup
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Fix as standalone plugin can not access the Testutils
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
  plugins/toolkit/core/build.gradle.kts
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

prefetch Toolkit toolwindow
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/ToolWindowStartupActivity.kt
Owners: @aws/aws-ides-team

Adding TestUtils
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/utils/TestUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

lint
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah

Addressing comments
  plugins/toolkit/core/src/software/aws/toolkits/core/utils/TextUtils.kt
Owners: @aws/aws-ides-team

fix deleteConnection predicate not being used
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

fix authManager.deleteConnection predicate not being read
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManager.kt
Owners: @aws/aws-ides-team

Removed unnecessary code in textutils
  plugins/toolkit/jetbrains-core/build.gradle.kts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/TextUtils.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/utils/TextUtilsTest.kt
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

initial commit to add a reload toolkit panel button
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/aws-ides-team

refactor utils
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/actions/ReloadToolkitPanelAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/aws-ides-team

refactor patch
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/actions/ReloadToolkitPanelAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/aws-ides-team

Always run `:verifyPlugin` as part of `check`
  buildSrc/src/main/kotlin/temp-toolkit-intellij-root-conventions.gradle.kts
  buildSrc/src/main/kotlin/toolkit-publishing-conventions.gradle.kts
  plugins/amazonq/build.gradle.kts
  plugins/core/build.gradle.kts
  plugins/toolkit/intellij-standalone/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin-toolkit.xml
  plugins/toolkit/jetbrains-gateway/build.gradle.kts
  plugins/toolkit/jetbrains-gateway/resources-gatewayOnly/META-INF/plugin.xml
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah

patch
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/aws-ides-team

patch
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
Owners: @aws/aws-ides-team

Fix for BOM character during line count causing MalformedInputException. Send issue to Q chat fix. Catch errors for Apply Fix.
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/App.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/InboundAppMessagesHandler.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/ActionRegistrar.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/CodeScanIssueActionMessage.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/EditorContextCommand.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/codescan/actions/CodeScanQActions.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/codescan/actions/ExplainCodeIssueAction.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/ChatController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/userIntent/UserIntentRecognizer.kt
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/plugin-codewhisperer.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/CodeScanActionsListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team, @aws/aws-ides-team

updated quick action styles and grouping fixed webview doesn't fit to parent panel
  .changes/next-release/bugfix-cfca5f64-baae-4ecc-95ab-8cbbfcf08398.json
  .changes/next-release/feature-95b0b124-c58c-44d3-96c6-fd8beb52df00.json
  plugins/amazonq/mynah-ui/package-lock.json
  plugins/amazonq/mynah-ui/package.json
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/main.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/quickActions/generator.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/styles.css
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah

added css to loader configuration
  plugins/amazonq/mynah-ui/webpack.media.config.js
Owners: @aws/dexp, @aws/aws-mynah

feat(amazonq): plan explainability support
  .changes/next-release/feature-cba19a44-e155-406a-8c10-74626214a815.json
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeModernizerUIConstants.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/PlanTable.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/PlanTableRow.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditorProvider.kt
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-arrow-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-arrow-light.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-clock-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-clock-light.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-dependencies-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-dependencies-light.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-file-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-file-light.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-step-into-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-step-into-light.svg
  plugins/core/jetbrains-community/src/icons/AwsIcons.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team, @aws/elastic-gumby

fix detekt issue
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

Fix immediate restart in sandbox when there are no updates
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/plugin/PluginUpdateManager.kt
Owners: @aws/aws-ides-team

use ComponentAdaptor instead
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

catch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
Owners: @aws/aws-ides-team

fix
  plugins/amazonq/shared/jetbrains-community/build.gradle.kts
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij-standalone/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/build.gradle.kts
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-gateway/resources-gatewayOnly/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

compile error caused by merge
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

fix logo not render for existing conn
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/selectableItem.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
Owners: @aws/aws-ides-team

Don't show update notification if no update was performed
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/plugin/PluginUpdateManager.kt
Owners: @aws/aws-ides-team

Cancel PKCE authorization future if process was cancelled while sleeping in indicator
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
Owners: @aws/aws-ides-team

fix compile error after merge
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

fix(q): Make copy/text changes to Feature Development capability
  .changes/next-release/bugfix-f856bca5-5859-47b4-82b0-32ed8e7d2cb0.json
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/followUps/generator.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/tabs/generator.ts
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah

update the welcome message
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/tabs/generator.ts
Owners: @aws/dexp, @aws/aws-mynah

updated menu item description
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/quickActions/generator.ts
Owners: @aws/dexp, @aws/aws-mynah

Use reflection to determine product name and version for Telemetry
  gradle/libs.versions.toml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsClientManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/ClientMetadata.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/telemetry/PluginResolverTest.kt
  plugins/core/sdk-codegen/codegen-resources/telemetry/service-2.json
Owners: @aws/aws-ides-team

updated changelog description
  .changes/next-release/bugfix-f856bca5-5859-47b4-82b0-32ed8e7d2cb0.json
Owners: @aws/aws-ides-team

* fix back button will appear twice on certain conditions * enable back button consistently
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/loginOptions.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

updated initial version supported for Q and Core
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/core/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Added AwsServiceException for uploadArtifact failure
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerStartJobResult.kt
Owners: @aws/elastic-gumby

fix q not working with connecting to exist connection ui
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

string localize
  plugins/core/webview/src/constants.ts
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
Owners: @aws/aws-ides-team
