Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/earlybird, @aws/dexp, @aws/elastic-gumby, @aws/codewhisperer-team

Change install string text to reflect plugin instead of extension
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

fix unable to find javaResolver error
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/plugin-codewhisperer.xml
Owners: @aws/codewhisperer-team

gw
  plugins/toolkit/jetbrains-gateway/build.gradle.kts
Owners: @aws/aws-ides-team

core
  plugins/toolkit/jetbrains-gateway/build.gradle.kts
Owners: @aws/aws-ides-team

Move legacy SSO profile users to scoped SSO
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/profiles/ProfileLegacySsoProvider.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
Owners: @aws/aws-ides-team

Disable PKCE for integration tests
  plugins/toolkit/jetbrains-core/build.gradle.kts
Owners: @aws/aws-ides-team

Fix to zip with absolute path for Auto File Scans instead relative path.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/codewhisperer-team

wip
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/ext-codewhisperer-java.xml
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/ext-codewhisperer-kotlin.xml
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/ext-codewhisperer-python.xml
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/ext-codewhisperer-rust.xml
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/ext-codewhisperer-scala.xml
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/ext-codewhisperer-shell.xml
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/plugin-codewhisperer.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/ext-java.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/ext-python.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/ext-rust.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

fix solution path
  plugins/toolkit/jetbrains-rider/it/software/aws/toolkits/jetbrains/services/lambda/dotnet/DotnetLocalLambdaRunConfigurationIntegrationTest.kt
  plugins/toolkit/jetbrains-rider/resources/META-INF/ext-rider.xml
  plugins/toolkit/jetbrains-rider/src-232+/software/aws/toolkits/jetbrains/utils/OpenSolutionFileParams.kt
Owners: @aws/aws-ides-team

fixed sln path for all rider tests
  plugins/toolkit/jetbrains-rider/src-232+/software/aws/toolkits/jetbrains/utils/OpenSolutionFileParams.kt
Owners: @aws/aws-ides-team

Bug Fix: Apply fix does not apply at proper line.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/TextUtils.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/utils/TextUtilsTest.kt
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

Refactoring code
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
Owners: @aws/codewhisperer-team

hide progress indicator when connection refresh is done by codewhisperer
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererService.kt
Owners: @aws/codewhisperer-team

resources
  plugins/core/core/build.gradle.kts
Owners: @aws/aws-ides-team

build
  plugins/amazonq/codewhisperer/jetbrains-community/resources/codewhisperer/licenses.json
  plugins/core/jetbrains-community/build.gradle.kts
  plugins/core/jetbrains-community/resources/software/aws/toolkits/resources/MessagesBundle.properties
  plugins/toolkit/jetbrains-core/resources/codewhisperer/codescan.png
  plugins/toolkit/jetbrains-core/resources/codewhisperer/workshop.png
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

increased execution timeout
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/utils/RunConfigTestUtils.kt
Owners: @aws/aws-ides-team

tst
  plugins/core/jetbrains-community/build.gradle.kts
Owners: @aws/aws-ides-team

fix(amazonq): show exact error message when job fails
  .changes/next-release/bugfix-af70014a-cb98-43dc-9262-9cc3a6cc4c0c.json
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerJobCompletedResult.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team, @aws/elastic-gumby

fix detekt issues
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerTest.kt
Owners: @aws/elastic-gumby

Fix build script issue when 2024.1 sandbox is not cleaned correctly
  buildSrc/src/main/kotlin/toolkit-detekt.gradle.kts
Owners: @aws/aws-ides-team

added runInEdt
  plugins/toolkit/jetbrains-core/it/software/aws/toolkits/jetbrains/services/lambda/java/JavaLocalLambdaRunConfigurationIntegrationTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/utils/RunConfigTestUtils.kt
Owners: @aws/aws-ides-team

Update toolkit-detekt.gradle.kts
  buildSrc/src/main/kotlin/toolkit-detekt.gradle.kts
Owners: @aws/aws-ides-team

Added aalto-xml version
  gradle/libs.versions.toml
Owners: @aws/aws-ides-team

telemetry(amazonq): send modifySourceFolder metric
  gradle/libs.versions.toml
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
Owners: @aws/aws-ides-team, @aws/dexp

Make sessionId updated when transform flow starts.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformTelemetryManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformTelemetryTest.kt
Owners: @aws/elastic-gumby

Fix detekt issues.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformTelemetryManager.kt
Owners: @aws/elastic-gumby

Removing project truncation for project scans
  plugins/toolkit/jetbrains-core/it/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererIntegrationTestBase.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanResultsView.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanTestBase.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererProjectCodeScanTest.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

tst
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/SsoRequiredInteractiveCredentials.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/profiles/ProfileCredentialProviderFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/ClientRegistration.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/DiskCache.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoCache.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/profiles/ProfileCredentialProviderFactoryTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/sso/DiskCacheTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProviderTest.kt
  plugins/core/jetbrains-community/tstFixtures/software/aws/toolkits/jetbrains/utils/rules/RegistryRule.kt
Owners: @aws/aws-ides-team

Removing commented lines
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/codewhisperer-team

Fix to update scanned files for only project scans.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanResultsView.kt
Owners: @aws/codewhisperer-team

send customizationArn in metric clientComponentLatency, perceivedLatency
  plugins/core/jetbrains-community/resources/telemetryOverride.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/telemetry/CodeWhispererTelemetryService.kt
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

tst
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/SsoRequiredInteractiveCredentials.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/profiles/ProfileCredentialProviderFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
Owners: @aws/aws-ides-team

Adding test cases
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererProjectCodeScanTest.kt
Owners: @aws/codewhisperer-team

build
  plugins/amazonq/codewhisperer/jetbrains-community/detekt-baseline-main.xml
  plugins/amazonq/codewhisperer/jetbrains-community/detekt-baseline-test.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/utils/ui/UiUtils.kt
  plugins/toolkit/jetbrains-core/detekt-baseline-main.xml
  plugins/toolkit/jetbrains-core/detekt-baseline-test.xml
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

tst
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonq/clients/AmazonQStreamingClientTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClientTest.kt
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
  plugins/amazonq/codewhisperer/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererClientAdaptorTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManagerTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManagerTest.kt
Owners: @aws/dexp, @aws/elastic-gumby, @aws/codewhisperer-team, @aws/aws-ides-team

Revert "tst"
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonq/clients/AmazonQStreamingClientTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClientTest.kt
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
  plugins/amazonq/codewhisperer/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererClientAdaptorTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManagerTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManagerTest.kt
Owners: @aws/dexp, @aws/elastic-gumby, @aws/codewhisperer-team, @aws/aws-ides-team

tst
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonq/clients/AmazonQStreamingClientTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClientTest.kt
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManagerTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManagerTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererClientAdaptorTest.kt
Owners: @aws/dexp, @aws/elastic-gumby, @aws/aws-ides-team, @aws/codewhisperer-team

skipped LambdaGutterMarkHighlightingTest for windows
  buildspec/windowsTests.yml
  buildspec/windowsTestsForToolkit.yml
  plugins/toolkit/jetbrains-core/it/software/aws/toolkits/jetbrains/services/lambda/java/JavaLocalLambdaRunConfigurationIntegrationTest.kt
Owners: @aws/aws-ides-team

Refactoring code
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/codewhisperer-team

revert version faster-xml-aalto-xml
  buildspec/windowsTests.yml
  buildspec/windowsTestsForToolkit.yml
  gradle/libs.versions.toml
Owners: @aws/aws-ides-team

.github/CODEOWNERS:

* @aws/aws-ides-team


amazonqFeatureDev/ @aws/earlybird
chat/ @aws/dexp
codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp
