Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

Fix for duplicates issues in popups for file scans.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

added if check for file key and detekt fixes.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

Update CodeWhispererProjectStartupActivity.kt comment
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/startup/CodeWhispererProjectStartupActivity.kt
Owners: @aws/codewhisperer-team

added changelogs. Fix for project root directory to check content root instead of guess project directory.
  .changes/next-release/feature-6a7485b3-57cb-430d-8ff5-4caaa0392b1c.json
  .changes/next-release/feature-7bef8821-56c1-49ca-b21a-e8cbed4b5a06.json
  .changes/next-release/feature-e764fbd7-c6b5-4435-8d3d-a7d54f856355.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

use updated icon
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-clock-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-clock-light.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-variables-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-variables-light.svg
  plugins/core/jetbrains-community/src/icons/AwsIcons.kt
Owners: @aws/elastic-gumby, @aws/aws-ides-team

add explainability feature flag to manifest.json
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/ZipManifest.kt
Owners: @aws/elastic-gumby

back button show not show in authenticating state
  plugins/core/webview/src/q-ui/components/login.vue
Owners: @aws/aws-ides-team

make comment more descriptive
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
Owners: @aws/elastic-gumby

address comments
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
Owners: @aws/elastic-gumby

added changelogs.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/codewhisperer-team

fix detekt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
Owners: @aws/elastic-gumby

Project Root Fix.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/codewhisperer-team

Fix merge errors.
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevClientUtil.kt
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
  plugins/core/sdk-codegen/codegen-resources/codewhispererstreaming/service-2.json
Owners: @aws/earlybird, @aws/aws-ides-team

Fix more merge errors.
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevClientUtil.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
Owners: @aws/earlybird, @aws/dexp, @aws/aws-mynah

Fix merge errors.
  .changes/next-release/bugfix-0127ba02-eaca-44c8-bb4a-83ebd3213328.json
  .changes/next-release/bugfix-cfca5f64-baae-4ecc-95ab-8cbbfcf08398.json
  .changes/next-release/bugfix-f856bca5-5859-47b4-82b0-32ed8e7d2cb0.json
  .changes/next-release/feature-95b0b124-c58c-44d3-96c6-fd8beb52df00.json
Owners: @aws/aws-ides-team

Revert "Fix merge errors."
  .changes/next-release/bugfix-0127ba02-eaca-44c8-bb4a-83ebd3213328.json
  .changes/next-release/bugfix-cfca5f64-baae-4ecc-95ab-8cbbfcf08398.json
  .changes/next-release/bugfix-f856bca5-5859-47b4-82b0-32ed8e7d2cb0.json
  .changes/next-release/feature-95b0b124-c58c-44d3-96c6-fd8beb52df00.json
Owners: @aws/aws-ides-team

Remove todos.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/BuildProgressTimelineStepDetailsList.kt
Owners: @aws/elastic-gumby

Remove more todos.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerArtifact.kt
Owners: @aws/elastic-gumby

Clean up.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/BuildProgressStepDetailsPanel.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/managers/CodeModernizerBottomWindowPanelManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
Owners: @aws/elastic-gumby, @aws/codewhisperer-team

Fix SDK model.
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
Owners: @aws/aws-ides-team

Linter.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/file/PomFileAnnotator.kt
Owners: @aws/elastic-gumby

Fix tests.
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
Owners: @aws/elastic-gumby

add maven dependency to plugin.xml
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah

Linter.
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
Owners: @aws/elastic-gumby

Modified marketplace content
  marketplaceGifs/JB-auth-Q.gif
  marketplaceGifs/JB-auth-Toolkit.gif
  marketplaceGifs/JB-chat.gif
  marketplaceGifs/JB-inline.gif
  marketplaceGifs/JB-transform.png
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/core/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah

Linter.
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonq/clients/AmazonQStreamingClientTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClientTest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby

Fix for Listeners.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

Linter.
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClientTest.kt
Owners: @aws/earlybird

Fix for Problem UI post results text for file scans.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanResultsView.kt
Owners: @aws/codewhisperer-team

address comments
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeModernizerUIConstants.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerUtilsTest.kt
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/elastic-gumby, @aws/dexp, @aws/aws-mynah

restore plugin.xml
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah

Fix for issue file duplication in code scan tree node when file scan is triggered during ongoing project scan.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

revert plugin.xml change
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah

update readValue
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
Owners: @aws/elastic-gumby

add maven to plugin.xml
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah

Initial Q standalone telemetry events
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/auth/AuthController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/core/jetbrains-community/resources/telemetryOverride.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/editor/GettingStartedPanelUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/editor/GettingStartedTelemetryUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/ToolWindowStartupActivity.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

fix a bug in the condition check
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

Read current repository from env instead of hardcoding in workflow
  .github/workflows/prerelease.yml
Owners: @aws/aws-ides-team

browser first loading should ask plugin cancellable prop
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

Remove unwanted file
  abc.txt
Owners: @aws/aws-ides-team
