Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

Disable continue button correctly and show back arrow correctly
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

fix user canceled condition check and some other UI fixes
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/login.vue
Owners: @aws/aws-ides-team

Wire up aws_loginWithBrowser and auth_addConnection for Q
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/core/jetbrains-community/resources/telemetryOverride.json
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/ToolWindowStartupActivity.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

New marketplace content
  marketplaceGifs/JB-auth-Q.gif
  marketplaceGifs/JB-auth-Toolkit.gif
  marketplaceGifs/JB-chat.gif
  marketplaceGifs/JB-inline.gif
  marketplaceGifs/JB-transform.png
Owners: @aws/aws-ides-team

Fix for document Listeners to check for open Files and issue files only.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanFileListener.kt
Owners: @aws/codewhisperer-team

Mirror changelog to Q plugin
  plugins/amazonq/build.gradle.kts
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah

Update plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

Re-add telemetry for loginBrowser reAuth
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

Revert "Fix for document Listeners to check for open Files and issue files only."
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanFileListener.kt
Owners: @aws/codewhisperer-team

Fix for document Listeners to check for open Files and issue files only.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

PR tweaks
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/editor/GettingStartedPanelUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/ToolWindowStartupActivity.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Removed addListeners to remove redundancy.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

Added synchronized to all codeScanTreeNodeRoot, fileNodeLookup and scanNodeLookUp operations.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team
