Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

Consistently patch all plugin.xml files in the repository
  buildSrc/src/main/kotlin/software/aws/toolkits/gradle/intellij/ToolkitIntelliJExtension.kt
  buildSrc/src/main/kotlin/temp-toolkit-intellij-root-conventions.gradle.kts
  buildSrc/src/main/kotlin/toolkit-intellij-plugin.gradle.kts
  buildSrc/src/main/kotlin/toolkit-intellij-subplugin.gradle.kts
  buildSrc/src/main/kotlin/toolkit-patch-plugin-xml-conventions.gradle.kts
  buildSrc/src/main/kotlin/toolkit-publishing-conventions.gradle.kts
  plugins/amazonq/build.gradle.kts
  plugins/core/build.gradle.kts
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah

nit
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

merge codewhisperer scopes into Q
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/pinning/CodeWhispererConnection.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sono/SonoConstants.kt
  plugins/toolkit/jetbrains-core/it/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererIntegrationTestBase.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererExplorerActionManagerTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererModelConfiguratorTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererUtilTest.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

Disable old toolkit if it failed to update
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
Owners: @aws/aws-ides-team

Move modal login indicator to background
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

Fixes for message flow, exception casting, button names.
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/App.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/ActionRegistrar.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/ChatController.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanDocumentListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/actions/ActionFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team, @aws/aws-ides-team

Endpoint correction.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
Owners: @aws/codewhisperer-team

reauth wip
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/utils/FunctionUtils.kt
  plugins/core/webview/src/ideClient.ts
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererFeatureConfigService.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererService.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/startup/CodeWhispererProjectStartupActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidget.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererUtil.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

Update Q Splash page with new text
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/gettingstarted/QGettingStartedContent.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Add error handling.
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerStartupActivity.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformProjectStartupSettingListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformCommand.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/BuildProgressStepTreeItem.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/MavenDependencyReportCommandsResult.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/BuildProgressTreePanel.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/managers/BuildProgressSplitterPanelManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformFileUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/elastic-gumby, @aws/codewhisperer-team

detektMain Error correction with null check.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
Owners: @aws/codewhisperer-team

Explain and Auto scan label fix. Notify on only project scan.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

Dynamically resolve core dependency to support seamless upgrades
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/core/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij-standalone/src/main/resources/META-INF/plugin-shim.xml
  plugins/toolkit/jetbrains-core/build.gradle.kts
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginCoreEnforcementActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginInstallUtil.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

NCDFE
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginCoreEnforcementActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginInstallUtil.kt
Owners: @aws/aws-ides-team

classloader
  plugins/toolkit/intellij-standalone/src/main/resources/META-INF/plugin-shim.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginCoreEnforcementActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
Owners: @aws/aws-ides-team

make auth-ing a compoenent
  plugins/core/webview/src/q-ui/components/authenticating.vue
  plugins/core/webview/src/q-ui/components/login.vue
Owners: @aws/aws-ides-team

startUrl validation, fix toolwindow react on theme change
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/util/JcefBrowserUtil.kt
  plugins/core/webview/src/q-ui/assets/common.scss
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

fix(q): Handle monthly conversation limit error for QFeature development
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevExceptions.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/messages/FeatureDevMessagePublisherExtensions.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevClientUtil.kt
Owners: @aws/earlybird

addressed comments
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/messages/FeatureDevMessagePublisherExtensions.kt
Owners: @aws/earlybird

fixed error message
  .changes/next-release/bugfix-0127ba02-eaca-44c8-bb4a-83ebd3213328.json
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/messages/FeatureDevMessagePublisherExtensions.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team, @aws/earlybird

lint
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginCoreEnforcementActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginInstallUtil.kt
Owners: @aws/aws-ides-team

q reauth functionally working
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/core/webview/src/q-ui/components/authenticating.vue
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
  plugins/core/webview/src/q-ui/components/root.vue
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

initial
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/credentials/actions/NewConnectionAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
Owners: @aws/aws-ides-team

enable
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/PluginCoreEnforcementActivity.kt
Owners: @aws/aws-ides-team

Updated temp description for Q
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
Owners: @aws/dexp, @aws/aws-mynah

Fetch plugin metadata for metrics/UA dynamically where possible
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/UploadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsClientManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/HttpUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/ClientMetadata.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/DefaultTelemetryPublisher.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/TelemetryService.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/telemetry/DefaultTelemetryPublisherTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/telemetry/PluginResolverTest.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/ToolkitClientManager.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/telemetry/MetricEvent.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/executables/ExecutableCommon.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/federation/AwsConsoleUrlFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/FeedbackDialog.kt
Owners: @aws/earlybird, @aws/elastic-gumby, @aws/aws-ides-team, @aws/codewhisperer-team

change client name
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProviderTest.kt
Owners: @aws/aws-ides-team

Open sign-in webview on setup auth
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/credentials/actions/NewConnectionAction.kt
Owners: @aws/aws-ides-team

detekt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/credentials/actions/NewConnectionAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
Owners: @aws/aws-ides-team

show tool window once after the very first Q install
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProviderTest.kt
  plugins/toolkit/jetbrains-core/src/migration/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

reset pending authorization when process canceled
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
Owners: @aws/aws-ides-team

Add logic to dynamically inject AWS user agent per request
  gradle/libs.versions.toml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/telemetry/DefaultTelemetryPublisherTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/telemetry/PluginResolverTest.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/ToolkitClientManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/executables/ExecutableCommon.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/FeedbackDialog.kt
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Add/update sandbox run configurations for plugin variants
  .run/Run AWS Toolkit - Community [2023.2].run.xml
  .run/Run AWS Toolkit - Community [2023.3].run.xml
  .run/Run AWS Toolkit - Community [2024.1].run.xml
  .run/Run AWS Toolkit - Rider [2023.2].run.xml
  .run/Run AWS Toolkit - Rider [2023.3].run.xml
  .run/Run AWS Toolkit - Rider [2024.1].run.xml
  .run/Run AWS Toolkit - Ultimate [2023.2].run.xml
  .run/Run AWS Toolkit - Ultimate [2024.1].run.xml
  .run/Run All - Community [2023.2].run.xml
  .run/Run All - Community [2023.3].run.xml
  .run/Run All - Community [2024.1].run.xml
  .run/Run All - Rider [2023.2].run.xml
  .run/Run All - Rider [2023.3].run.xml
  .run/Run All - Rider [2024.1].run.xml
  .run/Run All - Ultimate [2023.2].run.xml
  .run/Run All - Ultimate [2023.3].run.xml
  .run/Run All - Ultimate [2024.1].run.xml
  .run/Run Amazon Q - Community [2023.2].run.xml
  .run/Run Amazon Q - Community [2023.3].run.xml
  .run/Run Amazon Q - Community [2024.1].run.xml
  .run/Run Amazon Q - Rider [2023.2].run.xml
  .run/Run Amazon Q - Rider [2023.3].run.xml
  .run/Run Amazon Q - Rider [2024.1].run.xml
  .run/Run Amazon Q - Ultimate [2023.2].run.xml
  .run/Run Amazon Q - Ultimate [2023.3].run.xml
  .run/Run Amazon Q - Ultimate [2024.1].run.xml
  .run/generateConfigs.py
  sandbox-all/build.gradle.kts
  settings.gradle.kts
Owners: @aws/aws-ides-team

lint
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah

Added Icons for Q and Core
  plugins/amazonq/src/main/resources/META-INF/pluginIcon.svg
  plugins/core/jetbrains-community/resources/META-INF/pluginIcon.svg
  plugins/core/jetbrains-community/resources/META-INF/pluginIcon_dark.svg
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

cancelLogin
  plugins/core/webview/src/q-ui/components/reauth.vue
Owners: @aws/aws-ides-team

patch onSuccess reset authorization =null
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
Owners: @aws/aws-ides-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah
