Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

lint
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/pkce/ToolkitOAuthService.kt
Owners: @aws/aws-ides-team

patch vue
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
Owners: @aws/aws-ides-team

clean up loginOptions
  plugins/core/webview/src/q-ui/components/loginOptions.vue
Owners: @aws/aws-ides-team

QFeatureDev-handled upload failure with specific message
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevExceptions.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/earlybird, @aws/aws-ides-team

removed unused string key
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

Code clean up.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformCommand.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformFileUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
Owners: @aws/elastic-gumby, @aws/codewhisperer-team

Change in Regex to count number of code blocks
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
Owners: @aws/dexp, @aws/aws-mynah

Update FeatureDevSessionContext for gitignore files to the pattern.
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/FeatureDevSessionContext.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team

Adding scope to the createCodeScan requests, uploadIntent and UploadContext to createUploadURL. corrections to send issue to Q button and added Fix issue with Q button.
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/commands/EditorContextCommand.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/ChatController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/userIntent/UserIntentRecognizer.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/CodeScanActionsListener.kt
  plugins/core/sdk-codegen/codegen-resources/codewhisperer/service-2.json
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererSdkMapperUtil.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererSdkMapperUtilTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeFileScanTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanTestBase.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

Adding scope to the createCodeScan requests and uploadIntent to createUploadURL.
  plugins/core/sdk-codegen/codegen-resources/codewhisperer/service-2.json
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererSdkMapperUtil.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererClientAdaptorTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererSdkMapperUtilTest.kt
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

Update build.gradle.kts
  tmp-all/build.gradle.kts
Owners: @aws/aws-ides-team

fix test failure
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManagerTest.kt
Owners: @aws/aws-ides-team

Update ToolkitOAuthService.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/pkce/ToolkitOAuthService.kt
Owners: @aws/aws-ides-team

Removing redundant code
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeFileScanTest.kt
Owners: @aws/codewhisperer-team

Fix string.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
Owners: @aws/elastic-gumby

headless
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
Owners: @aws/aws-ides-team

log
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/AwsToolkit.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
Owners: @aws/aws-ides-team

Remove profile field from new login UX
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
  plugins/core/webview/src/q-ui/index.ts
  plugins/core/webview/src/q-ui/toolkit.ts
  plugins/toolkit/core/src/software/aws/toolkits/core/credentials/SsoUrlIdentifier.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/credentials/ToolkitCredentialsProvider.kt
  plugins/toolkit/core/tst/software/aws/toolkits/core/credentials/SsoUrlIdentifierTest.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

deps
  buildSrc/src/main/kotlin/toolkit-testing.gradle.kts
  gradle/libs.versions.toml
Owners: @aws/aws-ides-team

Addressing comments
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
Owners: @aws/dexp, @aws/aws-mynah

dispose connection with same id but different scopes
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/bearer/BearerTokenProvider.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/bearer/BearerTokenProviderListener.kt
Owners: @aws/aws-ides-team

Show Meet Q page on first login
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

Fix for unused import.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/listeners/CodeWhispererCodeScanEditorMouseMotionListener.kt
Owners: @aws/codewhisperer-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsClientManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsResourceCache.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/CredentialManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/credentials/AwsSettingsPanel.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AbstractExplorerTreeToolWindow.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/editor/GettingStartedPanel.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidget.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/connection/CawsLoginOverlay.kt
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/bearer/BearerTokenProvider.kt
Owners: @aws/aws-ides-team

lint
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManagerTest.kt
Owners: @aws/aws-ides-team

tst
  plugins/toolkit/core/src/software/aws/toolkits/core/credentials/SsoUrlIdentifier.kt
  plugins/toolkit/core/tst/software/aws/toolkits/core/credentials/SsoUrlIdentifierTest.kt
Owners: @aws/aws-ides-team

Multiple UX FnF fixes
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/webview/src/q-ui/assets/common.scss
  plugins/core/webview/src/q-ui/components/selectableItem.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Update SsoUrlIdentifierTest.kt
  plugins/toolkit/core/tst/software/aws/toolkits/core/credentials/SsoUrlIdentifierTest.kt
Owners: @aws/aws-ides-team

Update ToolkitCredentialsProvider.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/credentials/ToolkitCredentialsProvider.kt
Owners: @aws/aws-ides-team

Update libs.versions.toml
  gradle/libs.versions.toml
Owners: @aws/aws-ides-team

Exception Updated
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/bearer/BearerTokenProvider.kt
  plugins/toolkit/jetbrains-ultimate/src/software/aws/toolkits/jetbrains/services/rds/auth/IamAuth.kt
Owners: @aws/aws-ides-team

Add placeholder name and description for Core Plugin
  plugins/core/src/main/resources/META-INF/plugin.xml
Owners: @aws/aws-ides-team

feedback
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

Add cursor for buttons
  plugins/core/webview/src/q-ui/assets/common.scss
Owners: @aws/aws-ides-team

Update linuxTests.yml
  buildspec/linuxTests.yml
Owners: @aws/aws-ides-team

fix logo not rendered on light theme and aws form style update
  plugins/core/webview/src/q-ui/assets/common.scss
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/selectableItem.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
Owners: @aws/aws-ides-team

detekt fix
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

rename file due to naming conflicts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/aws-ides-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah
