Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

update
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/plugin/PluginUpdateManager.kt
Owners: @aws/aws-ides-team

detekt fix
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsTelemetryPrompter.kt
Owners: @aws/aws-ides-team

Addressed test case
  plugins/toolkit/jetbrains-ultimate/tst/software/aws/toolkits/jetbrains/services/rds/auth/IamAuthTest.kt
Owners: @aws/aws-ides-team

wip
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/webview/src/ideClient.ts
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
  plugins/core/webview/src/q-ui/index.ts
  plugins/core/webview/src/q-ui/toolkit.ts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/FunctionUtils.kt
Owners: @aws/aws-ides-team

fix wrong conneciton id used for profileManagedConnection
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
Owners: @aws/aws-ides-team

Adding request headers to uploadArtifactToS3 in CodeScan
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanException.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanTestBase.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

Addressing comments
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
Owners: @aws/dexp, @aws/aws-mynah

patch connection data class sent to browsers
  plugins/core/webview/src/ideClient.ts
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
  plugins/core/webview/src/q-ui/toolkit.ts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

patch
  plugins/core/webview/src/q-ui/components/qOptions.vue
Owners: @aws/aws-ides-team

remove extra back button
  plugins/core/webview/src/q-ui/components/qOptions.vue
Owners: @aws/aws-ides-team

add lines of cdoe inserted by Q in telemetry
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
  plugins/core/jetbrains-community/resources/telemetryOverride.json
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

update service-2 json
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
Owners: @aws/aws-ides-team

size
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
Owners: @aws/dexp, @aws/aws-mynah

Disable open panel action in remote and make codescan work
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/actions/ActionFactory.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/codewhisperer-team, @aws/aws-ides-team

fix
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/PluginVersionChecker.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/plugin/PluginUpdateManager.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/plugin/PluginUpdateManagerTest.kt
Owners: @aws/aws-ides-team

move duplicate code to core
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
  plugins/core/webview/src/q-ui/index.ts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

tst
  settings.gradle.kts
  tmp-all/build.gradle.kts
  tmp-all/tst/PluginLoadTest.kt
Owners: @aws/aws-ides-team

Add reject HIL.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformChatApp.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/InboundAppMessagesHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/messages/CodeTransformMessage.kt
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/apps/codeTransformChatConnector.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/commands.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/forms/constants.ts
Owners: @aws/elastic-gumby, @aws/dexp, @aws/aws-mynah

tst
  tmp-all/build.gradle.kts
  tmp-all/tst/PluginLoadTest.kt
Owners: @aws/aws-ides-team

update loginSso
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

Adding Error message to UploadArtifact URL
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareCodeGenerationStateTest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerStartJobResult.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/earlybird, @aws/elastic-gumby, @aws/aws-ides-team

Fix the build failure by adding the missing imports
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareCodeGenerationStateTest.kt
Owners: @aws/earlybird

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Adding Error message to UploadArtifact URL
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareCodeGenerationStateTest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerStartJobResult.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/earlybird, @aws/elastic-gumby, @aws/aws-ides-team

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
Owners: @aws/aws-ides-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
Owners: @aws/aws-ides-team

switch connection
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

Refacting code
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerStartJobResult.kt
Owners: @aws/elastic-gumby

Refacting code
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
Owners: @aws/elastic-gumby

should not delete connectino because underlying tokenProvider will be deleted as well
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/credentials/ToolkitCredentialsProviderManager.kt
Owners: @aws/aws-ides-team

remove non-needed change
  plugins/toolkit/core/src/software/aws/toolkits/core/credentials/ToolkitCredentialsProviderManager.kt
Owners: @aws/aws-ides-team

Parsing string to HTMl and finding out the codeBlockCount
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
Owners: @aws/dexp, @aws/aws-mynah

detekt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/FunctionUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Make PKCE success/error page pretty
  plugins/core/build.gradle.kts
  plugins/core/jetbrains-community/resources/META-INF/aws.toolkit.core.xml
  plugins/core/jetbrains-community/resources/oauthCallback/auth.css
  plugins/core/jetbrains-community/resources/oauthCallback/index.html
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/pkce/ToolkitOAuthService.kt
Owners: @aws/aws-ides-team

remove part of duplicate code
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/FunctionUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

Addressing comments
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
Owners: @aws/elastic-gumby

rename q browser
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah

patch
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah
