Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

Extract from download zip.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
Owners: @aws/elastic-gumby

fix Toolkit panel not reload when user addes IAM cred
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

addressing comments
  .changes/next-release/bugfix-7d06545e-eb51-4a84-9333-96a7add7e78c.json
  plugins/toolkit/jetbrains-ultimate/src/software/aws/toolkits/jetbrains/services/rds/auth/IamAuth.kt
  plugins/toolkit/jetbrains-ultimate/tst/software/aws/toolkits/jetbrains/services/rds/auth/IamAuthTest.kt
Owners: @aws/aws-ides-team

fix 3rd party library cross plugin referencing
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

interface
  plugins/core/jetbrains-community/resources/META-INF/aws.toolkit.core.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsSdkClient.kt
  plugins/toolkit/core/src/migration/software/aws/toolkits/core/clients/SdkClientProvider.kt
  plugins/toolkit/core/src/software/aws/toolkits/core/clients/SdkClientProvider.kt
Owners: @aws/aws-ides-team

ref
  plugins/core/jetbrains-community/resources/META-INF/aws.toolkit.core.xml
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
Owners: @aws/aws-ides-team

Don't send experiments data for non-toolkit related feedback
  .gitignore
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/ui/feedback/CodeTransformFeedbackDialog.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/CodeWhispererFeedbackDialog.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/FeedbackDialog.kt
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/elastic-gumby

pick up existing conn scope
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
Owners: @aws/aws-ides-team

css
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
Owners: @aws/aws-ides-team

patch
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
Owners: @aws/aws-ides-team

addr comment
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

Mock function returns
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformActionMessage.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadManifest.kt
Owners: @aws/elastic-gumby

add comment
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

cleanup
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
Owners: @aws/aws-ides-team

added linuc test for standalone toolkit
  buildspec/linuxTestsForToolkit.yml
Owners: @aws/aws-ides-team

added linuc test for core
  buildspec/linuxTestsForCore.yml
Owners: @aws/aws-ides-team

autehnticating page should evaluate login type
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/loginOptions.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
Owners: @aws/aws-ides-team

need inspect existing connection anyway if new connection is not for the Toolkit
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

Update plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

Update MessagesBundle.properties
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

added linuc test for core
  plugins/core/jetbrains-community/build.gradle.kts
Owners: @aws/aws-ides-team

on start, evaluate connectivity and render corresponding panel
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

remove toolWindowFactory refresh debounce logic for now
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

actions state test
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/plugin-codewhisperer.xml
  plugins/toolkit/jetbrains-core/src/migration/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
Owners: @aws/codewhisperer-team

remove cancel button disable state temporarily until we are 100% ready
  plugins/core/webview/src/q-ui/components/login.vue
Owners: @aws/aws-ides-team

try running test directly
  buildspec/linuxTestsForCore.yml
  plugins/core/jetbrains-community/build.gradle.kts
Owners: @aws/aws-ides-team

cmp
  plugins/toolkit/jetbrains-core/src/migration/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
Owners: @aws/codewhisperer-team

try depending on subfolder
  buildspec/linuxTestsForCore.yml
  plugins/core/build.gradle.kts
Owners: @aws/aws-ides-team

Parse dependency report.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformProjectStartupSettingListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformActionMessage.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/DependencyUpdatesReport.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/MavenDependencyReportCommandsResult.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformFileUtils.kt
Owners: @aws/elastic-gumby

revert
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/coroutines/scopes.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/coroutines/ScopeTest.kt
  plugins/core/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij/src/main/resources/META-INF/plugin-shim.xml
  plugins/toolkit/jetbrains-gateway/resources-gatewayOnly/META-INF/plugin-shim.xml
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Support Amazon Q inline suggestion in remote dev
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/plugin-codewhisperer.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/inlay/CodeWhispererInlayManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/popup/CodeWhispererPopupManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererAutoTriggerService.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererService.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/startup/CodeWhispererProjectStartupActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidget.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidgetFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/RemoteEnvUtils.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team, @aws/aws-ides-team

try depending on all subfolder
  plugins/core/build.gradle.kts
  plugins/core/jetbrains-community/build.gradle.kts
Owners: @aws/aws-ides-team

try looping through subdirs
  plugins/core/build.gradle.kts
Owners: @aws/aws-ides-team

run tests for windows also
  buildspec/linuxTestsForAmazonQ.yml
  buildspec/windowsTestsForAmazonQ.yml
  buildspec/windowsTestsForCore.yml
  buildspec/windowsTestsForToolkit.yml
  plugins/amazonq/build.gradle.kts
  plugins/core/build.gradle.kts
  plugins/toolkit/intellij-standalone/build.gradle.kts
Owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah

run tests for windows also
  plugins/toolkit/intellij-standalone/build.gradle.kts
Owners: @aws/aws-ides-team

fix toolkit and q tests
  plugins/amazonq/build.gradle.kts
  plugins/toolkit/intellij-standalone/build.gradle.kts
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

correct path for q subfolders
  plugins/amazonq/build.gradle.kts
Owners: @aws/dexp, @aws/aws-mynah

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/util/functionUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/core/webview/src/defs.d.ts
  plugins/core/webview/src/q-ui/components/reauth.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererUtil.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidget.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team
