Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

spread logs
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/OpenWebviewAction.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManager.kt
  plugins/core/webview/src/ideClient.ts
  plugins/core/webview/src/q-ui/components/loginOptions.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/Webview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Update CodeModernizerBottomToolWindowFactory.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/toolwindow/CodeModernizerBottomToolWindowFactory.kt
Owners: @aws/elastic-gumby

Move build target to 241 stable
  buildSrc/src/main/kotlin/software/aws/toolkits/gradle/intellij/IdeVersions.kt
Owners: @aws/aws-ides-team

fix detekt issue
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/toolwindow/CodeModernizerBottomToolWindowFactory.kt
Owners: @aws/elastic-gumby

nit: update comment
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/auth/AuthController.kt
Owners: @aws/dexp, @aws/aws-mynah

Fix issue with competing SDK proxy configuration
  gradle/libs.versions.toml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsSdkClient.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitCredentialProcessProvider.kt
Owners: @aws/aws-ides-team

Add changelog entry
  .changes/next-release/bugfix-c8090208-8e8a-4a41-bcdd-02579f74d40e.json
Owners: @aws/aws-ides-team

Update plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
Owners: @aws/dexp, @aws/aws-mynah

Update plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
Owners: @aws/dexp, @aws/aws-mynah

Add changes.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformChatApp.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/InboundAppMessagesHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformActionMessage.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformCommand.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatHelper.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/messages/CodeTransformMessage.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerJobCompletedResult.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/state/CodeModernizerSessionState.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/apps/codeTransformChatConnector.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/commands.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/connector.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/forms/constants.ts
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/main.ts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
Owners: @aws/elastic-gumby, @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team

Deprecate plugin scope tracking
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/coroutines/scopes.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/coroutines/ScopeTest.kt
  plugins/core/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij/src/main/resources/META-INF/plugin-shim.xml
  plugins/toolkit/jetbrains-gateway/resources-gatewayOnly/META-INF/plugin-shim.xml
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

onConnectionChnaged reimplementation
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/OpenWebviewAction.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

onConnectionChanged part2
  plugins/amazonq/chat/jetbrains-community/resources/META-INF/plugin-chat.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/Webview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/OpenWebviewAction.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/core/webview/src/ideClient.ts
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/loginOptions.vue
  plugins/core/webview/src/q-ui/index.ts
  plugins/core/webview/src/q-ui/toolkit.ts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/Webview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/GettingStartedAuthUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Update .changes/next-release/bugfix-c8090208-8e8a-4a41-bcdd-02579f74d40e.json
  .changes/next-release/bugfix-c8090208-8e8a-4a41-bcdd-02579f74d40e.json
Owners: @aws/aws-ides-team

Add tests for proxy config
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/AwsClientManagerTest.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/AwsSdkClientTest.kt
Owners: @aws/aws-ides-team

detekt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/OpenWebviewAction.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitConnectionManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

detekt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
Owners: @aws/dexp, @aws/aws-mynah

move to injected scope
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/coroutines/scopes.kt
Owners: @aws/aws-ides-team

reauth initial commit
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/OpenWebviewAction.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/reauth.vue
  plugins/core/webview/src/q-ui/components/root.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/CodeWhispererExplorerActionManager.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

add todos for PR #4265
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

fix: use just a session spy
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevControllerTest.kt
Owners: @aws/earlybird

feat(amazonqFeatureDev): add code generation unit tests
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevControllerExtensions.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationState.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/Session.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevControllerUtil.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FileUtils.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevTestBase.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevControllerTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareCodeGenerationStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/SessionTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevClientUtilTest.kt
Owners: @aws/earlybird

Updates to tests
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/AwsSdkClientTest.kt
Owners: @aws/aws-ides-team

Revert inadvertent change to AwsClientManagerTest
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/AwsClientManagerTest.kt
Owners: @aws/aws-ides-team

detekt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/aws-ides-team

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

tst
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/coroutines/ScopeTest.kt
Owners: @aws/aws-ides-team

detekt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
Owners: @aws/aws-ides-team

test
  abc.txt
Owners: @aws/aws-ides-team

Add changelog entry
  .changes/next-release/feature-7af4897f-efe2-4b02-b029-f1e9042b1b64.json
Owners: @aws/aws-ides-team

Show IAM connection id
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/devToolsTab/nodes/CawsRootNode.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

Show only profile name in connection bar
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitConnectionImpls.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/DefaultToolkitAuthManagerTest.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/devToolsTab/nodes/CawsRootNode.kt
Owners: @aws/aws-ides-team

logo position
  plugins/core/webview/src/q-ui/components/logo.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
Owners: @aws/aws-ides-team

log
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

q conn not pinned if it's builder id conn
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/pinning/QConnection.kt
Owners: @aws/aws-ides-team

fix detekt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/devToolsTab/nodes/CawsRootNode.kt
Owners: @aws/aws-ides-team

Remove unused `Q_SCOPES_UNAVAILABLE_BUILDER_ID`
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sono/SonoConstants.kt
Owners: @aws/aws-ides-team

request all Q scope for builder ID
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

Add download.
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClient.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevClientUtil.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerStartupActivity.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadManifest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/ZipManifest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformFileUtils.kt
  plugins/amazonq/shared/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/clients/AmazonQStreamingClient.kt
  plugins/core/sdk-codegen/codegen-resources/codewhispererstreaming/service-2.json
Owners: @aws/earlybird, @aws/elastic-gumby, @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team
