Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/codewhisperer-team, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @aws/aws-ides-team

Rename enum to make commands more clear.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/actions/CodeModernizerStopModernizerAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformCommand.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/commands/CodeTransformMessageListener.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
Owners: @aws/elastic-gumby

Added unit tests for feature dev planning phase
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/Session.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/FeatureDevTestBase.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/controller/FeatureDevControllerTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/session/PrepareRefinementStateTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/session/RefinementStateTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/session/SessionTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/util/FeatureDevClientUtilTest.kt
Owners: @aws/earlybird

Add ChangeLog entry.
  .changes/2.15.json
Owners: @aws/aws-ides-team

lint
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerTestBase.kt
Owners: @aws/elastic-gumby

Fix stopped state.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerAwaitModernizationJobResult.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerJobCompletedResult.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/managers/CodeModernizerBottomWindowPanelManager.kt
Owners: @aws/elastic-gumby

Fix linter issues.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerAwaitModernizationJobResult.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerJobCompletedResult.kt
Owners: @aws/elastic-gumby

Fix data object issues.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerAwaitModernizationJobResult.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerJobCompletedResult.kt
Owners: @aws/elastic-gumby

Address comments.
  plugins/amazonq/mynah-ui/src/mynah-ui/ui/apps/codeTransformChatConnector.ts
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonq/Constants.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/messages/CodeTransformMessage.kt
Owners: @aws/aws-mynah, @aws/elastic-gumby

Fix error messages when job is stopped during file upload.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
Owners: @aws/elastic-gumby

fix changelog entry
  .changes/2.15.json
  .changes/next-release/feature-85124a48-216c-4451-8a44-e3466aa73812.json
Owners: @aws/aws-ides-team

build
  plugins/amazonq/chat/jetbrains-community/build.gradle.kts
  plugins/amazonq/codetransform/jetbrains-community/build.gradle.kts
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/shared/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/auth/CodeTransformAuthUtils.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererActionNodeTest.kt
Owners: @aws/aws-mynah, @aws/elastic-gumby, @aws/codewhisperer-team

lint
  plugins/amazonq/shared/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformUtils2.kt
Owners: @aws/elastic-gumby

.github/CODEOWNERS:

* @aws/aws-ides-team
codewhisperer/ @aws/codewhisperer-team
amazonq/ @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird
mynah-ui/ @aws/aws-mynah
codemodernizer/ @aws/elastic-gumby
