Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

fix(amazonq): remove single quotes from messages
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/elastic-gumby, @aws/aws-ides-team

add changelog entry
  .changes/next-release/bugfix-7b478600-3631-41e7-98cf-4669f31ccda5.json
Owners: @aws/aws-ides-team

reauth page impl (handling logic not yet)
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/webview/src/defs.d.ts
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/logo.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

patch
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

reset auth code on UI refresh
  plugins/core/webview/src/ideClient.ts
Owners: @aws/aws-ides-team

Address comments
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQPanel.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/inlay/CodeWhispererInlayManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/popup/CodeWhispererPopupComponents.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/popup/CodeWhispererPopupManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidget.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/RemoteEnvUtils.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team, @aws/aws-ides-team

added changelog for enabling builderId auth
  .changes/next-release/feature-5f24c25d-ed21-41db-8324-ed5ad7a2bdf5.json
Owners: @aws/aws-ides-team

Group configurables into AWS Toolkit and Q ones
  plugins/core/jetbrains-community/resources/META-INF/aws.toolkit.core.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/plugin/PluginUpdateManager.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/settings/AwsSettings.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/settings/AwsSettingsSharedConfigurable.kt
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/AwsTelemetryPrompter.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/experiments/ExperimentConfigurable.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/tools/ToolConfigurable.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/lambda/settings/LambdaSettingsConfigurable.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/lambda/upload/LambdaLineMarker.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/lambda/wizard/SamInitProjectBuilderCommon.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/settings/LambdaSettings.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/settings/ShowSettingsAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/settings/ToolkitSettingsConfigurable.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitNotificationUtils.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/settings/AwsSettingsConfigurableTest.kt
  plugins/toolkit/jetbrains-rider/src/software/aws/toolkits/jetbrains/settings/RiderSyncSettings.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

authenticating page should be cancellable
  plugins/core/webview/src/ideClient.ts
  plugins/core/webview/src/model.ts
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/toolkit.ts
Owners: @aws/aws-ides-team

no show error dialog when cancelling auth process
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

rename
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

build
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/FeatureDevFeedbackDialog.kt
Owners: @aws/aws-ides-team

revert Lambda setting change and address comments
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/lambda/settings/LambdaSettingsConfigurable.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/lambda/upload/LambdaLineMarker.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/settings/LambdaSettings.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/settings/ToolkitSettingsConfigurable.kt
  plugins/toolkit/jetbrains-rider/src/software/aws/toolkits/jetbrains/settings/RiderSyncSettings.kt
Owners: @aws/aws-ides-team

telemetry(amazonq chat): numberOfCodeBlocks
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

add signout
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

patch
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/reauth.vue
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

revert partial change
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

fix test
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/settings/AwsSettingsSharedConfigurable.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/settings/AwsSettingsConfigurableTest.kt
Owners: @aws/aws-ides-team

Amazon Q Chat: Added metric parameters to recordAddMessage telemetry event.
  .changes/next-release/feature-ee930fc7-27c9-4d25-8c6c-04afaeee77e6.json
Owners: @aws/aws-ides-team

build
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/FeatureDevFeedbackDialog.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/ui/feedback/FeedbackTest.kt
Owners: @aws/aws-ides-team

lint
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah

fix compie error caused by other PR
  plugins/core/webview/src/q-ui/components/login.vue
Owners: @aws/aws-ides-team

remove redundant ()
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

fix detekt main
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/settings/ToolkitSettingsConfigurable.kt
Owners: @aws/aws-ides-team

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/LoginUtils.kt
  plugins/core/webview/src/q-ui/components/login.vue
Owners: @aws/aws-ides-team

String changes and polishing from CodeWhisperer to Amazon Q
  plugins/core/jetbrains-community/resources/META-INF/aws.toolkit.core.xml
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/AwsTelemetryPrompter.kt
  plugins/core/webview/src/q-ui/components/loginOptions.vue
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/DoNotShowAgainActionWarn.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererUtil.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererActionTest.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix validateLocalizedMessages
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/aws-ides-team

fix catalyst feature id
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

patch
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/aws-ides-team

Fix the feature/cw-proactivescan branch build
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareCodeGenerationStateTest.kt
Owners: @aws/earlybird

Fix path.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformFileUtils.kt
Owners: @aws/elastic-gumby

telemetry(amazonq chat): numberOfCodeBlocks
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/messenger/ChatPromptHandler.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
  plugins/core/sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

Refactoring code
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
Owners: @aws/dexp, @aws/aws-mynah

q refactor done
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/loginOptions.vue
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
Owners: @aws/aws-ides-team

Refactoring code
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
Owners: @aws/dexp, @aws/aws-mynah

Refactoring code
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
Owners: @aws/dexp, @aws/aws-mynah

toolkit refactor done
  plugins/core/webview/src/q-ui/components/awsProfileForm.vue
  plugins/core/webview/src/q-ui/components/login.vue
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
Owners: @aws/aws-ides-team

Upload and resume.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadManifest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilUploadManifest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
Owners: @aws/elastic-gumby

coroutines service
  plugins/amazonq/src/main/resources/META-INF/plugin.xml
  plugins/core/jetbrains-community/src/migration/software/aws/toolkits/jetbrains/core/coroutines/PluginCoroutineScopeTracker.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/coroutines/scopes.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/coroutines/ScopeTest.kt
  plugins/core/src/main/resources/META-INF/plugin.xml
  plugins/toolkit/intellij/src/main/resources/META-INF/plugin-shim.xml
  plugins/toolkit/jetbrains-gateway/resources-gatewayOnly/META-INF/plugin-shim.xml
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Bump to 3.0-SNAPSHOT
  gradle.properties
Owners: @aws/aws-ides-team
