Repository aws/aws-toolkit-jetbrains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws/aws-ides-team, @aws/dexp, @aws/aws-mynah, @aws/earlybird, @aws/elastic-gumby, @aws/codewhisperer-team

.github/CODEOWNERS:

* @aws/aws-ides-team

amazonq/ @aws/dexp @aws/aws-mynah
amazonqFeatureDev/ @aws/earlybird

codemodernizer/ @aws/elastic-gumby
codetransform/ @aws/elastic-gumby
codewhisperer/ @aws/codewhisperer-team

mynah-ui/ @aws/dexp @aws/aws-mynah

Bug fixes for code scan triggers, Project scan language, text changes.
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/FeatureDevSessionContext.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/startup/CodeWhispererProjectStartupActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/codewhisperer-team, @aws/aws-ides-team

sandbox version
  sandbox-all/build.gradle.kts
Owners: @aws/aws-ides-team

Fix CI issues
  plugins/toolkit/core/src/software/aws/toolkits/core/ToolkitClientManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/ui/feedback/FeedbackDialog.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/core/executables/ExecutableCommonTest.kt
Owners: @aws/aws-ides-team

Update plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt
Owners: @aws/aws-ides-team

Revert "Update plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt"
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/telemetry/PluginResolver.kt
Owners: @aws/aws-ides-team

build
  plugins/core/jetbrains-community/src-232/com/intellij/platform/ide/progress/WithBackgroundProgress.kt
Owners: @aws/aws-ides-team

revert client name workaround
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
  plugins/core/jetbrains-community/tst/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProviderTest.kt
Owners: @aws/aws-ides-team

compile error
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah

Update plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
Owners: @aws/dexp, @aws/aws-mynah

lint
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/sso/SsoAccessTokenProvider.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
Owners: @aws/aws-ides-team

detekt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/startup/AmazonQStartupActivity.kt
Owners: @aws/dexp, @aws/aws-mynah

make invalid url check only applies to invalid url input
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
Owners: @aws/aws-ides-team

patch
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/aws-ides-team

finalize plan UI
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeModernizerUIConstants.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/BuildProgressTimelineStepDetailsList.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/PlanTableRow.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/BuildProgressStepDetailsPanel.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/managers/BuildProgressSplitterPanelManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-clock-dark.svg
  plugins/core/jetbrains-community/resources/icons/resources/codetransform/transform-clock-light.svg
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/elastic-gumby, @aws/aws-ides-team

make invalid url check only applies to invalid url input
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/CodeWhispererLearnMoreAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/CodeWhispererWhatIsAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/nodes/WhatIsCodeWhispererNode.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererActionTest.kt
Owners: @aws/aws-ides-team, @aws/codewhisperer-team

fix detekt issues
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/PlanTableRow.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
Owners: @aws/elastic-gumby

2nd round of string + UI polishing
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/gettingstarted/QGettingStartedContent.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/StaticTextResponse.kt
  plugins/core/jetbrains-community/src/icons/AwsIcons.kt
  plugins/core/webview/src/q-ui/components/qOptions.vue
  plugins/core/webview/src/q-ui/components/ssoLoginForm.vue
  plugins/core/webview/src/q-ui/components/toolkitOptions.vue
  plugins/toolkit/jetbrains-core/resources/META-INF/plugin.xml
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerToolWindow.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/editor/GettingStartedPanel.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/startup/QMigrationActivity.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonq/gettingstarted/QGettingStartedUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonq/gettingstarted/QGettingStartedVirtualFile.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/CodeWhispererConnectOnGithubAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/CodeWhispererLearnMoreAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/CodeWhispererWhatIsAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/customization/CodeWhispererCustomizationDialog.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/nodes/WhatIsCodeWhispererNode.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/learn/LearnCodeWhispererEditor.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/learn/LearnCodeWhispererManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/learn/LearnCodeWhispererUIComponents.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/learn/LearnCodeWhispererVirtualFile.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererUtil.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerToolWindowTest.kt
  plugins/toolkit/jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererActionTest.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team, @aws/codewhisperer-team

add toolkit reauth page
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/utils/FunctionUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/utils/ToolkitUtils.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

lint
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindow.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/utils/FunctionUtils.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

backbutton reauth
  plugins/core/webview/src/q-ui/components/reauth.vue
Owners: @aws/aws-ides-team

fix bugs
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/webview/src/q-ui/components/reauth.vue
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

fix detekt issues
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/plan/CodeModernizerPlanEditor.kt
Owners: @aws/elastic-gumby

preset JS_QUERY_POOL_SIZE to reserve JS query pool
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/util/JcefBrowserUtil.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

revert dedupe
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/QLoginWebview.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/webview/LoginBrowser.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

fix failing test
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerTestBase.kt
Owners: @aws/elastic-gumby

fix: set netty http stream client timeout to 3 minutes
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererEndpointCustomizer.kt
Owners: @aws/codewhisperer-team

Bug fix for Running scan display for file scans, UI freeze.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/actions/CodeWhispererStopCodeScanAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/actions/ActionFactory.kt
Owners: @aws/codewhisperer-team

Added doc strings and detekt corrections.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Owners: @aws/codewhisperer-team

Add `@JvmOverloads` annotation to `loginSso`
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

UI change fix.
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/actions/CodeWhispererStopCodeScanAction.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/actions/ActionFactory.kt
Owners: @aws/codewhisperer-team

Add telemetry.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/client/GumbyClient.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformFileConstants.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/MavenRunnerUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/messages/CodeTransformMessage.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/BuildStepStatus.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeTransformHilDownloadArtifact.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/ZipManifest.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/BuildProgressTreePanel.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/managers/BuildProgressSplitterPanelManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/panels/managers/CodeModernizerBottomWindowPanelManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformApiUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/utils/CodeTransformFileUtils.kt
  plugins/amazonq/codetransform/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/elastic-gumby, @aws/aws-ides-team

use project message bug
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/AwsToolkitExplorerFactory.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

formatting
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/toolwindow/AmazonQToolWindowFactory.kt
Owners: @aws/dexp, @aws/aws-mynah

test change for 241 failure
  plugins/amazonq/codewhisperer/jetbrains-community/resources/META-INF/plugin-codewhisperer.xml
  plugins/amazonq/shared/jetbrains-community/resources/META-INF/module-amazonq.xml
Owners: @aws/codewhisperer-team, @aws/dexp, @aws/aws-mynah

loginSso overloads to avoid ToolkitJetbrains's dependency getting NoSuchMethodError
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

detekt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/actions/CodeWhispererLearnMoreAction.kt
Owners: @aws/codewhisperer-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

patch
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/core/credentials/ToolkitAuthManager.kt
Owners: @aws/aws-ides-team

revert jcef browser prop createImmediately as it's causing unexpected behavior when browser is created before jcef query
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/util/JcefBrowserUtil.kt
  plugins/toolkit/jetbrains-core/src/software/aws/toolkits/jetbrains/core/explorer/webview/ToolkitLoginWebview.kt
Owners: @aws/dexp, @aws/aws-mynah, @aws/aws-ides-team

Translate strings.
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/constants/CodeTransformChatItems.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/controller/CodeTransformChatController.kt
  plugins/toolkit/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Owners: @aws/elastic-gumby, @aws/aws-ides-team
